body{
    margin: 0;
    padding: 0;
    background-color: #2B3033;
    color: white;
}
header{
    padding:0;
    margin: 0;
}



#heading{
    background-color: #00121D;
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
}

#heading h1{
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 30px;
    text-align: center;
    font-family: cursive;
    color: white;
}

#navbar{
    position:-webkit-sticky;
    position: sticky;
    top: 0;
    margin: 0px;
    padding: 0px;
    width:100%;
    height: 20px;
    background-color: aquamarine;
}
.bar{
    display: block;
    list-style: none;
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-left: 0px;
}


.bar a{
    margin: 0; 
    padding: 0;
    text-decoration: none;
}

.bar li{
    margin-right: 80px;
    padding: 0;
    float: left;
    padding-right: 80px;
}

#options{
    list-style: none;
    margin: 0px;    
}

#options button{
    margin-left: 30px;
    float: left;
}

.page-title{
    margin-top: 20px;
    padding-top: 0px;
    font-family: Optima, sans-serif;
    font-size: 40px;

}

#stats{
    position: absolute;
    left: 100px;
    margin-top: 30px;
}

button{
    text-align: center;
    font-size: 20px;
    border-radius: 12px;
    background-color: #676767;
    color: turquoise;
}

#stats li{
    font-size: 20px;
}
.container{
    display:block;
}
.main-text{
    font-size: 30px;
    position: relative;
    width: 80%;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 40px;
}

.main-text p{
    position: absolute;
    top:0;
    left:0;
}

/*
    Code used to make unselectable: https://stackoverflow.com/a/4448972
*/
*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }

#user-input{
    position: absolute;
    resize: none;
    background-color: #2B3033;
    width: 100%;
    top:0;
    left:0;
    border: none;
    outline: none;
    color: transparent;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-shadow: 0px 0px 0px;
    /*visibility:hidden;
    */
}

#main-footer{
    margin-top: 20px;
    padding-top: 90px;
}