body{
    margin: 0;
    padding: 0;
    background-color: #2B3033;
    color: white;
}
button{
    text-align: center;
    font-size: 20px;
    border-radius: 12px;
    background-color: #676767;
    color: turquoise;
}
header{
    padding:0;
    margin: 0;
}

.pop-up{
    place-self: center;
    place-content: center;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 350px;
    top: 25.5%;
    display: none;
    z-index: 1000;
}




#time-button{
    margin-right: 30px;
}
.answer{
    font-size: 40px;
}

#stats-page{
    position: relative;
    right: 0px;
}

#stats-page tr{
    position: relative;
    right: 0px;
}


#wpm{
    position: relative;
    left: 0;
    width: 450px;
}

#wpmAnswer{
    position: relative;
    text-align: right;
}
#choice{
    display: inline-block;
    float: right;
}
#choice button{
    background-color: transparent;
    border-radius: 0px;
    border-width: 1px;
}


#choice li{
    margin-right: -80px;
}

.question{
    font-size: 30px;
    height: max-height/10;
}




.tempdiv{
    width: 50%;
    height: auto;
}

.pop-up-inner{
    background-color: #2B3033;
    border-style: solid;
    border-width: 5px;
    border-color: turquoise;
    width: 35%;
    height: auto;
    z-index: 999;
}

#close{
    position: relative;
    display: block;
    top: 15px;
    margin: auto;
    align-self: center;
}

.pop-up.open{
    opacity: 1;
    z-index: 999;
    display: flex;
}

#heading{
    background-color: #00121D;
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
}

#heading h1{
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 30px;
    text-align: center;
    font-family: cursive;
    color: white;
}

#navbar{
    position:-webkit-sticky;
    position: sticky;
    top: 0;
    margin: 0px;
    padding: 0px;
    width:100%;
    height: 20px;
    background-color: aquamarine;
}
.bar{
    display: block;
    list-style: none;
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 0px;
    padding-left: 0px;
}


.bar a{
    margin: 0; 
    padding: 0;
    text-decoration: none;
}

.bar li{
    margin-right: 80px;
    padding: 0;
    float: left;
    padding-right: 80px;
}

#options{
    list-style: none;
    margin: 0px;    
}

#options button{
    margin-left: 30px;
    float: left;
}

.page-title{
    margin-top: 20px;
    padding-top: 0px;
    font-family: Optima, sans-serif;
    font-size: 40px;

}

#stats{
    position: absolute;
    left: 100px;
    margin-top: 30px;
}



#stats li{
    font-size: 20px;
}
.container{
    display:block;
}
.main-text{
    font-size: 30px;
    position: relative;
    width: 80%;
    max-height: 150px;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 40px;
}

.main-text p{
    position: absolute;
    top:0;
    left:0;
}

/*
    Code used to make unselectable: https://stackoverflow.com/a/4448972
*/
*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }

#user-input{
    position: absolute;
    resize: none;
    background-color: #2B3033;
    width: 100%;
    top:0;
    left:0;
    border: none;
    outline: none;
    color: transparent;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-shadow: 0px 0px 0px;
    /*visibility:hidden;
    */
}

#main-footer{
    margin-top: 20px;
    padding-top: 90px;
}




/*styles for stats page*/

.stats-row td{
    font-size: 25px;

}

.stat-answers{
    text-align: right;
    width: 50%;
    color: aquamarine;
}

/*styling for achievements*/

#first-achievements{
    margin-right: 26vw;
}


.achievements{
    float: left;
    font-size: 25px;
}